<div class="form-group">
  <%= f.label :name, required: true %>
  <%= f.text_field :name, required: true, class: "form-control" %>
  <%#= f.fields_for :group_contacts do |contact| %>
    <%#= render 'group_contact_fields', :f => contact %>
  <%# end %>
    <%#= link_to_add_association 'Add Contact', f, :group_contacts, :class => 'btn btn-mini btn-info' %>
</div>

<div class="form-group">
  <%= f.label :contact%>
  <%= collection_select(:group, :contact_ids, current_user.contacts, :id, :name, {prompt: "Choose contacts"}, {class: "form-control", :multiple => true}) %>
</div>

