<tr class="group-contacts">
  <td colspan="9">
    <div class="contacts-expandable">
      <table>
        <thead>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Actions</th>
        </thead>
          <%= render partial: 'group_contact', collection: group_contacts %>
      </table>
    </div>
  </td>
</tr>
